html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #FFF;
    font-family: "Helvetica", "Liberation Sans", "Arial", sans-serif;
}
.background {
    fill: #333333;
    pointer-events: all;
}

#states {
    fill: #FFF;
}

#state-borders {
    fill: none;
    stroke: #e8e8e8;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.card{
    
    // border: 1px solid #000;
    position: absolute;
    font-size: 0.75rem;
    opacity: 1;

    &.deleting{
	@include animation('deletion .15s ease-in');
	@include animation-delay(0.5s)
	@include keyframes(deletion){
	    0%{
		opacity: 1;
	    }
	    100%{
		opacity: 0;
	    }
	}

    }

    @include transition(all, 0.25s, ease-in);
    
    &.hover{
	body{
	    background: #0044f2;
	}

    }

    .grip{
	cursor: pointer;
	opacity: 0.1;
	@include transition(all, 0.15s, cubic-bezier(0.4, 0, .4, 1.35));
	
	&:hover{
	    transform: scale(2);
	    opacity: 0.5;
	    background: #0044f2;
	}
    }
    // pointer-events: none;

    &.isDragged{
	opacity: 0.5;
    }
    
    body{
	cursor: pointer;
	background: rgba(0,0,0,0.5);
	@include border-radius(6px);
	@include transition(all, 0.15s, ease-in-out);
	padding: 8px;
	
	.card-title{
	    margin-bottom: 0.75rem;
	    font-weight: 700;
	}
	.card-content{
	    em{
		font-weight: normal;
		font-style: normal;
		background: #200c6a;
	    }
	    strong{
		font-weight: normal;
		font-style: normal;
		background: #860c18;	    
	    }
	}
	.card-link{}
    }
    &.sky{
	.card-title{
	    font-size: 0.75rem;
	}
	.card-content{
	    font-size: 0.75rem;
	}
    }
    &.bird{
	.card-title{
	    font-size: 1rem;
	}
	.card-content{
	    font-size: 0.85rem;
	}
    }
    &.ground{
	.card-title{
	    font-size: 1.425rem;
	}
	.card-content{
	    font-size: 1rem;
	}
    }
}

#zones{
    font-family: "lato", sans-serif;
    // border: 1px solid #000000;
    color: white;
    font-size: 0.75rem;
    line-height: 1.6;

    .zone{
	color: white;
	text-transform: uppercase;
	font-family: "Liberation Sans";
	font-size: 13px;
	font-weight: 700;
    }
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

// ------
// LOGIN
// ------
#login{
    position: fixed;
    z-index: 997;
    left: 16px;
    bottom: 48px;
    font-size: 14px;
    width: 256px;
    line-height: 1.35rem;
    

    @include transition(all, 0.15s, ease-in-out);

    *{
	@include transition(all, 0.15s, ease-in-out);
    }

    #login-form{
	display: flex;
	flex-direction: column;

	label{
	    margin-bottom: 8px;
	    font-weight: 700;
	}
	#login-input{
	    padding: 6px;
	    @include border-radius(3px);
	    border: 1px solid #999999;
	    // background: #330000;
	    // color: #ff0000;
	}
    }
    #login-info{
	opacity: 0;
	color: #000;
	background: #ffff00;
	padding: 12px;
	@include border-radius(3px);
    }
    

    &.logged{
	#login-form{
	    display: none;
	}
	#login-info{
	    opacity: 1;
	    color: #ccc;
	    background: none;
	    padding: 0;
	}
    }
    &.not-logged{
	
    }
    &.caution{
	label{
	    color: #ffff00;
	}
	#login-form{
	    #login-input{
		border: 1px solid #ffff00;
		background: #333300;
		// color: #ff0000;
	    }
	}
	#login-info{
	    	opacity: 1;
	}
    }
    
}


// ------------------
// INPUT AN ARTICLE
// ------------------
#input-container{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0; // (largeur/2)-largeur
    bottom: 0;
    width: 480px;
    padding: 24px;
    // padding: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;

    #content-title{
	margin-bottom: 16px;
    }    
    #content-content{
	margin-bottom: 16px;	
    }
    .btn-container{
	
    }

    .CodeMirror,
    .editor-statusbar,
    .editor-toolbar{
	font-family: "lato", sans-serif;
    }

    .CodeMirror{
	height: 128px;
	min-height: 128px;
    }
}

