html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.background {
    fill: #e8e8e8;
    pointer-events: all;
}

#states {
    fill: #FFF;
}

#state-borders {
    fill: none;
    stroke: #e8e8e8;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.inner-card{
    background-color: #FFFFFF;
    width:320px;
    // padding: 8px;
    font-family: "Liberation Mono", monospace;
    border: 1px solid #000000;
    font-size: 0.75rem;
    line-height: 1.6;

    .title{
	border-bottom: 1px solid #000;
	background: #000;
	color: #FFF;
	padding: 8px;

	p{
	    margin: 0;
	}
    }
    .content{
	// border-bottom: 1px solid #000;
	padding: 0 8px;

	em{
	    font-weight: normal;
	    font-style: normal;
	    background: #f8f9db;
	}
	strong{
	    font-weight: normal;
	    font-style: normal;
	    background: #ffe0e0;	    
	}
    }

    /* Titles */
    &.sky{
	.title{	
	    // font-size: 0.75rem;
	    font-weight: 500;
	}
    }
    &.top{
	.title{
	    // font-size: 1rem;
	    font-weight: 600;	    
	}

    }
    &.middle{
	.title{
	    // font-size: 1.5rem;
	    font-weight: 600;
	}
    }
    &.low{
	.title{
	    // font-size: 2rem;
	    font-weight: 600;
	}
    }
}

#zones{
    font-family: "Liberation Mono", monospace;
    // border: 1px solid #000000;
    font-size: 0.75rem;
    line-height: 1.6;
}
#infos{
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
}


#input-container{
    position: absolute;
    z-index: 999;
    top: 0;
    left: -175px; // (largeur/2)-largeur
    width: 350px;
    padding: 24px;
    // padding: 16px;
    background: #fff;
    display: flex;
    flex-direction: column;

    #content-title{
	margin-bottom: 16px;
    }    
    #content-content{
	margin-bottom: 16px;	
    }
    .btn-container{
	
    }
}

