.docs-main {
  padding-left: 320px; }
  .docs-main .docs-main--inner {
    padding: 32px; }
  .docs-main h3#preview,
  .docs-main h3#code {
    margin-top: 48px; }

.docs-sidebar {
  width: 320px;
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--gray-dark);
  height: calc(100vh);
  padding: 1rem; }
  .docs-sidebar h4 {
    color: var(--white);
    opacity: 0.5;
    margin-top: 2rem; }
  .docs-sidebar .site-title h1 {
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 0.5rem;
    color: var(--white); }
  .docs-sidebar .site-title:hover {
    text-decoration: none; }
    .docs-sidebar .site-title:hover h1 {
      opacity: 0.5; }
  .docs-sidebar .site-nav {
    padding: 0; }
    .docs-sidebar .site-nav li {
      list-style: none; }
    .docs-sidebar .site-nav a {
      color: var(--white); }
      .docs-sidebar .site-nav a:hover {
        opacity: 0.5; }

pre {
  padding: 24px;
  background: var(--gray-dark);
  border-radius: 4px;
  color: #ccc; }
